:root {
  /* MAIN THEME */
  --main-primary-bg-color: #004643;
  --main-secondary-bg-color: #e8e4e6;
  --main-title-color: #fffffe;
  --main-text-color: #abd1c6;
  --main-accent-color: #e16162;
  --main-btn-bg-color: #f9bc60;
  --main-btn-text-color: #001e1d;
  /* https://www.happyhues.co/palettes/10 */
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto auto;
  background-color: var(--main-primary-bg-color);
  color: var(--main-text-color);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  color: var(--main-title-color);
}

svg {
  fill: var(--main-text-color);
  background-color: var(--main-primary-bg-color);
}


a {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--main-text-color);
}

/* input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
} */

/* input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */